* {
    margin: 0;
    padding: 0;
}

body {
    background-color: color(from color srgb r g b);
}

nav {
    background-color: rgb(98, 142, 98);
    color: rgb(50, 50, 50);
    padding: 20px;
}

li,
h1,
ul {
    display: inline;
}

ul {
    margin-left: 49%;
}

li {
    color: rgba(5, 1, 1, 0.795);
}

li:hover {
    color: aliceblue;
    cursor: pointer;
}

input {
    width: 60%;
    padding: 15px;
}

.searchbar {
    padding: 100px;
    text-align: center;
}

.two {
    color: red;
    font-size: 300%;
}

.gallary {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: black;
}


.box img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-color: black;
}


.box h3,
.box h6 {
    margin: 5px 0;
    text-align: center;
}



.about,
h1 {
    text-align: center;
    margin-top: 100px;
    color: black;
}

p {
    margin-top: 20px;
    color: black;
    font-size: x-large
}

table {
    margin-top: 20px;
}

.brands,
h2 {
    text-align: center;
    margin-top: 30px;
}

.contact {
    text-align: center;
    margin-top: 30px;
    color: darkblue;

}

.buttons {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}